*{
  margin:0;
  padding: 0;
}

.cabecalho{
  background: #0082c7;
}

.cartao{
  background: #EBEF40;
  margin: 16px;
  padding: 16px;
  display: inline-block;
  width: 190px;
  border-box: border-box;
  display: flex;
  flex-grow: 1;
  text-align: left;
  flex-basis: 190px;
}

.mural {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.mural--linhas{
  flex-direction: column;
}

.mural--linhas .cartao{
  flex: auto;
  width: auto;
  display: block;
}


.cartao--some{
  opacity: 0;
  transition: 0.2s ease-in;
}

.error{
  display: block;
  color:red;
  text-align: center;
}

.container{
  padding: 0 10%;
}

#mudaLayout{
  display: none;
}

.mural{
  font-size: 1.2rem;
}

@media (min-width: 560px){
  .cartao{
    width: 190px;
    display: inline-block;
  }


  #mudaLayout{
    display: inline-block;
  }



  .cartao--textoPequeno{
    font-size: 1em;
    width: 11em;
    flex-basis: 11em;
  }

  .cartao--textoMedio{
    font-size: 1.5em;
    width:9em;
    flex-basis: 9em;
  }

  .cartao--textoGrande{
    font-size: 2em;
    width: 6em;
    flex-basis: 6em;
  }

}




@media (min-width: 610px){
  .mural {
    align-items: flex-start;
  }
}



@media (min-width: 900px){
  .mural {
    align-items: center;
    font-size: 1.3rem;
  }
}
