*{
  margin:0;
  padding: 0;
}

.cabecalho{
  background: #0082c7;
}

.cartao{
  background: #EBEF40;
  margin: 16px;
  padding: 16px;
  display: inline-block;
  width: 190px;
  border-box: border-box;
  display: flex;
  flex-grow: 1;
  text-align: left;
  flex-basis: 190px;
}

.mural {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.container{
  padding: 0 10%;
}


@media (min-width: 560px){
  .cartao{
    width: 190px;
    display: inline-block;
  }
}
